In [5]:
import pandas as pd
import urllib.request
import os
import sqlite3
from pathlib import Path
import requests
import json
import time

In [6]:
#import top ten data set with full line names 
tt_2021 = pd.read_csv("./top_traffic_2021.csv")
tt_2021.head()

                   STATION_FULL  WEEK  TRAFFIC
0  14_ST_UNION_SQ_Line_LNQR456W     1   175345
1  14_ST_UNION_SQ_Line_LNQR456W     2   177299
2  14_ST_UNION_SQ_Line_LNQR456W     3   171502
3  14_ST_UNION_SQ_Line_LNQR456W     4   170188
4  14_ST_UNION_SQ_Line_LNQR456W     5   152808

In [8]:
#load traffic data from 2019 for top ten in 2021 
tt_2019 = pd.read_csv("./top_2021_in_2019.csv")
tt_2019.head()

                   STATION_FULL  WEEK  TRAFFIC
0  14_ST_UNION_SQ_Line_LNQR456W     2   764230
1  14_ST_UNION_SQ_Line_LNQR456W     3   743729
2  14_ST_UNION_SQ_Line_LNQR456W     4   726197
3  14_ST_UNION_SQ_Line_LNQR456W     5   755595
4  14_ST_UNION_SQ_Line_LNQR456W     6   791544

In [9]:
station_list = tt_2019.STATION_FULL.unique()
station_list

array(['14_ST_UNION_SQ_Line_LNQR456W', '34_ST_HERALD_SQ_Line_BDFMNQRW',
       '34_ST_PENN_STA_Line_ACE', '42_ST_PORT_AUTH_Line_ACENQRS1237W',
       '86_ST_Line_456', 'FLUSHING_MAIN_Line_7',
       'FULTON_ST_Line_2345ACJZ', 'GRD_CNTRL_42_ST_Line_4567S',
       'JKSN_HT_ROOSVLT_Line_EFMR7', 'PATH_NEW_WTC_Line_1'], dtype=object)

In [12]:
#create individual dataframe per station that combines 2019 data and 2021 data in order to calculate percentage
#of traffic per week per station

for station in station_list:
        
        filter_2019 = ()
        filter_2021 = ()
        column_names = ["STATION_FULL","WEEK","TRAFFIC"]
        data_2019 = pd.DataFrame(columns = column_names)
        data_2021 = pd.DataFrame(columns = column_names)
        
#Create a unique DF per top station for its data in 2019

        filter_2019 = tt_2019["STATION_FULL"]== station
        data_2019 = tt_2019[filter_2019].reset_index()
        data_2019["STATION_FULL"] = data_2019["STATION_FULL"] + "_2019"

#Create a unique df per top station for its data in 2021
        filter_2021 = tt_2021["STATION_FULL"]== station
        data_2021 = tt_2021[filter_2021]
        data_2021 = data_2021[data_2021.WEEK != 1]
        data_2021["STATION_FULL"] = data_2021["STATION_FULL"] + "_2021"
          
#create one df for both years 

        data_all= pd.concat([data_2019,data_2021],ignore_index=True)
    
#create percentage df for 2021
        
        percent = data_all.groupby(["WEEK","STATION_FULL"])["TRAFFIC"].first().reset_index()
        percent["PERCENT"] = (percent["TRAFFIC"].div(percent.TRAFFIC.shift(1)))*100
        percent['PERCENT'].values[percent['PERCENT'].values > 100] = 0
        percent['PERCENT'] = percent['PERCENT'].fillna(0)
        percent = percent[percent["PERCENT"] > 0]
        percent.to_csv("./percent/Percent_"+ station+"_2021.csv", index = False)

#save traffic data from 2021 and 2019 for further use 

        data_all.to_csv("./station_data/"+station+"_2021_2019.csv", index=False)

In [13]:
#combine all 2021 and 2019 traffic data df's into one csv

dirpath = (os.path.expanduser("./station_data/"))
output = (os.path.expanduser("./top_traffic_2021_in_2019.csv"))
csvout_lst = []
files = [os.path.join(dirpath, fname) for fname in os.listdir(dirpath)]

for filename in sorted(files):
    data = pd.read_csv(filename, sep=',', index_col=0, header=0)
    csvout_lst.append(data)

pd.concat(csvout_lst).to_csv(output)

In [14]:
#combine all percent df's into one csv

dirpath = (os.path.expanduser("./percent/"))
output = (os.path.expanduser("./top_percent_2021_in_2019.csv"))
csvout_lst = []
files = [os.path.join(dirpath, fname) for fname in os.listdir(dirpath)]

for filename in sorted(files):
    data = pd.read_csv(filename, sep=',', index_col=0, header=0)
    csvout_lst.append(data)

pd.concat(csvout_lst).to_csv(output)